@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  color: #3E3E3E;
  font-size: 16px;
  background: #F3F3F3;
  font-family: "Montserrat", sans-serif, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

.section-title__dark {
  padding-top: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .section-title__dark {
    font-size: 30px;
    padding-top: 44px;
  }
}

.section-title__light {
  padding-top: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 767px) {
  .section-title__light {
    font-size: 30px;
    padding-top: 44px;
  }
}

.util__link {
  display: inline-block;
  border: solid 1px #fff;
  background: #3E3E3E;
  color: #fff;
  padding: 20px 80px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media (max-width: 767px) {
  .util__link {
    font-weight: 600;
    font-size: 18px;
    padding: 16px 100px;
  }
}

/*======================================================
header
=======================================================*/
header {
  background: rgba(255, 255, 255, 0.1);
  padding: 32px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  header {
    padding: 22px 0;
  }
}

.add-scrolled {
  background: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
  .drawer-toggle {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .drawer-toggle {
    display: none;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 300px !important;
}
.drawer--right .drawer-nav {
  right: -300px;
}

.drawer-hamburger-icon {
  border-radius: 5px;
  height: 4px;
  width: 26px;
}
.drawer-hamburger-icon::before, .drawer-hamburger-icon::after {
  border-radius: 5px;
  height: 4px;
  width: 26px;
}
.drawer-open .drawer-hamburger-icon::before, .drawer-open .drawer-hamburger-icon::after {
  background: #fff;
  height: 3px;
}

.drawer-overlay {
  background: #3E3E3E;
  opacity: 0.7;
  z-index: 90;
}

.header__logo {
  font-size: 24px;
  display: none;
}
@media (max-width: 767px) {
  .header__logo {
    display: block;
    font-size: 24px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .header__nav {
    z-index: 100;
    width: 300px;
  }
}

.header__menu {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .header__menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
}

.header__nav__item:not(:first-child) {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .header__nav__item:not(:first-child) {
    margin-top: 12px;
    margin-left: 0;
  }
}

.header__nav__item__link {
  letter-spacing: -0.025em;
  position: relative;
}
@media (min-width: 1200px) {
  .header__nav__item__link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #3E3E3E;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .header__nav__item__link:hover::after {
    transform: scaleX(1);
  }
  .header__nav__item__link.is-active::after {
    transform: scaleX(1);
  }
}
@media (max-width: 767px) {
  .header__nav__item__link {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
}

/*======================================================
main-visual
=======================================================*/
.main-visual {
  background: url(../img/mv.png) no-repeat 24% center/cover;
  padding-top: 83px;
  width: 100%;
  height: 648px;
  position: relative;
}
@media (max-width: 767px) {
  .main-visual {
    background-position: 24% center;
    height: 667px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 600px;
  left: 50%;
  margin-top: 42px;
}
@media (max-width: 767px) {
  .main-visual__content {
    width: 100%;
    max-width: 100%;
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 0;
  }
}

.main-visual__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    line-height: 1.6666666667;
  }
}

.main-visual__lead {
  letter-spacing: 0.02em;
  width: 100%;
  margin-top: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5555555556;
}
@media (max-width: 767px) {
  .main-visual__lead {
    margin-top: 14px;
    letter-spacing: 0.002em;
    font-size: 14px;
  }
}

.main-visual__button {
  margin-top: 38px;
}
@media (max-width: 767px) {
  .main-visual__button {
    text-align: center;
    margin-top: 22px;
  }
}
.main-visual__button a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #FFAA3B;
  border-radius: 10px;
  padding: 16px 50px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  transition: background 0.3s;
}
@media (min-width: 1200px) {
  .main-visual__button a:hover {
    background: #F18900;
  }
}
@media (max-width: 767px) {
  .main-visual__button a {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
  }
}

/*======================================================
News
=======================================================*/
.news {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .news {
    margin-top: -40px;
    padding: 0 16px 60px;
    position: relative;
    z-index: 10;
  }
}

.news__inner {
  background: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  padding: 0 60px 40px;
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 767px) {
  .news__inner {
    padding: 0 0 40px 0;
  }
}

.news__content {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .news__content {
    margin-top: 40px;
  }
}

.news__item {
  border-bottom: 1px solid #CECDCD;
  padding: 40px 0;
  position: relative;
}
.news__item:first-child {
  border-top: 1px solid #CECDCD;
}
@media (min-width: 1200px) {
  .news__item {
    display: flex;
    transition: background 0.3s;
  }
  .news__item:hover {
    background: rgba(73, 115, 255, 0.1);
  }
}
@media (max-width: 767px) {
  .news__item {
    padding: 14px 0 10px 16px;
  }
}
.news__item::after {
  position: absolute;
  content: "";
  width: 43px;
  height: 46px;
  background: url(../img/news-arrow.png) no-repeat center center/11px 21px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.news__meta {
  width: 259px;
  display: flex;
  align-items: center;
}

.news__date {
  font-size: 18px;
  width: 98px;
}
@media (max-width: 767px) {
  .news__date {
    font-size: 14px;
  }
}

.news__label {
  margin-left: 40px;
  background: #FFF;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .news__label {
    margin-left: 0;
  }
}
.news__label a {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  display: inline-block;
}
@media (min-width: 1200px) {
  .news__label a {
    width: 121px;
    height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .news__label a {
    width: 121px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .news__label a {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 16px;
  }
}

@media (min-width: 1200px) {
  .news__title {
    margin-left: 40px;
    width: calc(100% - 259px);
  }
}
@media (max-width: 767px) {
  .news__title {
    margin-top: 8px;
  }
}
.news__title a {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.07em;
  line-height: 1.5555555556;
  width: 100%;
  padding-right: 83px;
}
@media (max-width: 767px) {
  .news__title a {
    font-size: 14px;
    padding-right: 52px;
    line-height: 1.45;
  }
}

.news__button {
  margin-top: 40px;
  text-align: center;
}
.news__button a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
  border: 1px solid #707070;
  padding: 20px 80px;
  transition: background 0.5s;
}
@media (max-width: 767px) {
  .news__button a {
    letter-spacing: 0.2em;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 100px;
  }
}
@media (min-width: 1200px) {
  .news__button a:hover {
    background: #3E3E3E;
    color: #fff;
  }
}
.news__button a span {
  margin-right: -0.5em;
}

/*======================================================
service
=======================================================*/
.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 500px, transparent 500px, transparent 100%);
}
@media (max-width: 767px) {
  .service {
    background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 480px, transparent 480px, transparent 100%);
  }
}

.service__items {
  background: #fff;
  max-width: 960px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  padding: 60px 45px;
  margin: 68px auto 120px;
}
@media (max-width: 767px) {
  .service__items {
    display: block;
    padding: 40px 16px;
    margin: 42px auto 56px;
  }
}

.service__item {
  text-align: center;
}
@media (min-width: 1200px) {
  .service__item:not(:first-child) {
    margin-left: 90px;
  }
}
@media (max-width: 767px) {
  .service__item:not(:first-child) {
    margin-top: 36px;
  }
}

.service__img {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  padding: 6px;
}
@media (max-width: 767px) {
  .service__img {
    padding: 7px;
  }
}
.service__title {
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .service__title {
    line-height: 1.2;
    font-weight: 600;
  }
}

.service__text {
  margin-top: 16px;
  font-size: 14px;
  text-align: left;
  line-height: 1.7142857143;
}

/*======================================================
results
=======================================================*/
.results {
  background: #3E3E3E;
  margin-left: auto;
  max-width: calc(50vw + 600px);
  padding: 0 0 60px 60px;
}
@media (max-width: 767px) {
  .results {
    padding: 44px 0 40px;
  }
}
.results h2 {
  text-align: left;
}
@media (max-width: 767px) {
  .results h2 {
    text-align: center;
    padding-top: 0;
  }
}

.results__wrapper {
  margin-top: 64px;
}
@media (max-width: 767px) {
  .results__wrapper {
    margin-top: 44px;
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  .result__item__link:hover {
    opacity: 0.7;
  }
}

.result__item__body {
  background: #FFF;
  padding: 16px;
}
@media (max-width: 767px) {
  .result__item__body {
    padding: 12px;
  }
}

.result__item__title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .result__item__title {
    font-size: 14px;
  }
}

.result__item__text {
  margin-top: 16px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .result__item__text {
    font-size: 12px;
    margin-top: 6px;
  }
}

.results__pagination {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .results__pagination {
    position: static !important;
    margin-top: 26px;
  }
}
@media (min-width: 1200px) {
  .results__pagination {
    text-align: left;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  position: relative;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 20px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.results__button {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .results__button {
    text-align: center;
    margin-top: 26px;
  }
}
.results__button a {
  transition: background, color 0.3s;
}
@media (min-width: 1200px) {
  .results__button a:hover {
    background: #fff;
    color: #3E3E3E;
  }
}

/*======================================================
price
=======================================================*/
.price__inner {
  margin-top: 68px;
  max-width: 1040px;
  width: 100%;
}
@media (max-width: 767px) {
  .price__inner {
    margin-top: 0;
  }
}

.price__table {
  margin-top: 60px;
  border: solid 1px #707070;
  border-collapse: collapse;
  width: 100%;
  line-height: 1.15;
}
@media (max-width: 767px) {
  .price__table {
    margin-top: 44px;
  }
}

th, td {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  th, td {
    font-size: 20px;
    font-weight: 600;
  }
}

th {
  width: 27.2916%;
  color: #fff;
  text-align: center;
  background: #3E3E3E;
  padding: 16px;
}
@media (max-width: 767px) {
  th {
    width: 29%;
  }
}

td {
  background: #fff;
  padding: 16px 40px;
  width: 100%;
}
@media (max-width: 767px) {
  td {
    padding-left: 20px;
  }
}

tr:not(:first-child) th {
  border: solid 1px #fff;
}
tr:not(:first-child) td {
  border: solid 1px #707070;
}

.price__text {
  font-size: 12px;
  margin-top: 12px;
}
@media (max-width: 767px) {
  .price__text {
    margin-top: 8px;
  }
}

.comments {
  margin-top: 122px;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    margin-top: 60px;
  }
}

.comments__bg {
  background: #3E3E3E;
  width: 76.5625%;
  height: 576px;
  margin-right: auto;
  position: absolute;
  content: "";
  top: 146px;
  z-index: 40;
}
@media (max-width: 767px) {
  .comments__bg {
    width: 100%;
    height: 400px;
    top: 56px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__bg {
    height: 350px;
  }
}

.comments__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .comments__inner {
    padding: 0 14px;
  }
}

.comments__box {
  width: 55.5%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 120px 60px;
  z-index: 50;
}
@media (max-width: 767px) {
  .comments__box {
    width: 100%;
    padding: 40px 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__box {
    width: 100%;
    padding: 40px 20px;
    margin: 0 40px;
  }
}
.comments__box h3 {
  font-size: 36px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .comments__box h3 {
    font-size: 30px;
    font-weight: 30px;
  }
}

.comments__list {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .comments__list {
    margin-top: 40px;
  }
}

.comments__item {
  display: flex;
}
.comments__item + .comments__item {
  margin-top: 60px;
}
@media (max-width: 767px) {
  .comments__item + .comments__item {
    margin-top: 34px;
  }
}

.comments__item__picture {
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .comments__item__picture {
    width: 60px;
    height: 60px;
  }
}
.comments__item__picture img {
  width: 100px;
}
@media (max-width: 767px) {
  .comments__item__picture img {
    width: 60px;
  }
}

.comments__item__message {
  width: 100%;
  margin-left: 32px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .comments__item__message {
    font-size: 14px;
    line-height: 1.4285714286;
    margin-left: 24px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .comments__img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments__img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .comments__img {
    display: block;
    width: 44.5%;
    z-index: 60;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 55.5%;
  }
}

/*======================================================
Q&A
=======================================================*/
.qa {
  background: url(../img/qa-bg.png) no-repeat top center/cover;
  background-attachment: fixed;
  margin-top: 124px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .qa {
    margin-top: 58px;
    background-attachment: scroll;
    padding-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .qa-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.qa__list {
  margin-top: 68px;
  margin-left: auto;
  max-width: 612px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .qa__list {
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .qa__list {
    margin-top: 46px;
  }
}

.qa__item {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
}
.qa__item + .qa__item {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .qa__item + .qa__item {
    margin-top: 24px;
  }
}

.qa__item__question {
  line-height: 1.5;
  align-items: center;
  display: flex;
}
.qa__item__question::before {
  display: inline-block;
  flex: 0 0 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  content: "Q";
  color: #fff;
  font-weight: bold;
  background: #3B69FF;
  border-radius: 50%;
}

.qa__item__question__text {
  flex: 0 1 100%;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}
.qa__item__question__text::before {
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 3px;
  background: #3B69FF;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.qa__item__question__text::after {
  position: absolute;
  content: "";
  display: block;
  width: 17px;
  height: 3px;
  background: #3B69FF;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.add-active .qa__item__question__text::after {
  transform: translateY(-50%) rotate(0);
}

.qa__item__answer {
  margin-top: 14px;
  background: #3B69FF33;
  border-radius: 4px;
  padding: 12px;
  display: none;
}
@media (max-width: 767px) {
  .qa__item__answer {
    padding: 8px;
  }
}

.qa__item__answer__text {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .qa__item__answer__text {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}

/*======================================================
access
=======================================================*/
.access {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .access {
    padding: 28px 0px 60px;
  }
}

.access__bg {
  background: #3E3E3E;
  height: 504px;
  width: 76.5625%;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
}
@media (max-width: 767px) {
  .access__bg {
    z-index: -1;
    width: 100%;
  }
}

.access__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .access__inner {
    display: block;
  }
}
@media (min-width: 1200px) {
  .access__inner {
    padding: 0;
  }
}

.access__left {
  z-index: 50;
}
.access__left h2 {
  text-align: left;
  padding-top: 0;
}
@media (min-width: 1200px) {
  .access__left {
    width: 314px;
    margin-left: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__left {
    width: 314px;
  }
}

.access__address {
  margin-top: 66px;
  color: #FFF;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .access__address {
    margin-top: 36px;
    font-size: 14px;
  }
}

.access__button__pc {
  margin-top: 28px;
}
@media (max-width: 767px) {
  .access__button__pc {
    display: none;
  }
}

.access__button__link {
  font-weight: 500;
  letter-spacing: 0.1em;
  width: 100%;
  text-align: center;
  padding: 20px 0 !important;
}
@media (max-width: 767px) {
  .access__button__link {
    font-weight: 600;
  }
}
@media (min-width: 1200px) {
  .access__button__link {
    transition: background, color 0.3s;
  }
  .access__button__link:hover {
    background: #fff;
    color: #3E3E3E;
  }
}

.access__button__sp {
  margin-top: 18px;
  width: 100%;
}
@media (min-width: 1200px) {
  .access__button__sp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .access__button__sp {
    display: none;
  }
}

.access__right {
  width: 100%;
  max-width: 100%;
  z-index: 60;
}
@media (min-width: 1200px) {
  .access__right {
    width: 60.5%;
  }
}

.iframe__wrapper {
  box-shadow: 0 5px 10px rgba(62, 62, 62, 0.2);
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 71.6253%;
}
@media (max-width: 767px) {
  .iframe__wrapper {
    margin-top: 18px;
  }
}
.iframe__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*======================================================
contact
=======================================================*/
.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 0 38px;
  }
}

.contact__inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__inner {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .contact__inner {
    padding: 0;
  }
}

.contact__header {
  background: url(../img/contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0 0;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .contact__header {
    padding-bottom: 36px;
  }
}

.contact__header__text {
  margin-top: 26px;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .contact__header__text {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4285714286;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.contact__content {
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 60px 120px;
  width: 100%;
}
@media (max-width: 767px) {
  .contact__content {
    padding: 40px 12px;
  }
}

.contact__item:not(.mod__message) {
  display: flex;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .contact__item:not(.mod__message) {
    display: block;
  }
}
.contact__item + .contact__item {
  margin-top: 36px;
}
@media (max-width: 767px) {
  .contact__item + .contact__item {
    margin-top: 30px;
  }
}
.contact__item select {
  box-shadow: none;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  width: 100%;
  padding: 9px 40px 9px 9px;
  color: #3E3E3E;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  outline: none;
}
@media (min-width: 1200px) {
  .contact__item select:hover, .contact__item select:focus {
    box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
  }
}
.contact__item input[type=text],
.contact__item input[type=email] {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  width: 100%;
  padding: 4px 12px;
  font-size: 16px;
  outline: none;
}
@media (max-width: 767px) {
  .contact__item input[type=text],
.contact__item input[type=email] {
    font-size: 14px;
    padding: 2px 0;
    color: #3e3e3e;
  }
}
@media (min-width: 1200px) {
  .contact__item input[type=text]:hover, .contact__item input[type=text]:focus,
.contact__item input[type=email]:hover,
.contact__item input[type=email]:focus {
    border-color: #3B69FF;
    box-shadow: 0 4px 4px -4px rgba(73, 115, 255, 0.5);
  }
}
.contact__item textarea {
  margin-top: 8px;
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 0.5em;
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  resize: vertical;
  outline: none;
}
@media (max-width: 767px) {
  .contact__item textarea {
    height: 162px;
  }
}
@media (min-width: 1200px) {
  .contact__item textarea:hover, .contact__item textarea:focus {
    border-color: #3B69FF;
    box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  }
}

.contact__selectBox {
  position: relative;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact__selectBox {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .contact__selectBox {
    margin-left: 60px;
  }
  .contact__selectBox:hover, .contact__selectBox:focus {
    border-color: #3B69FF;
    box-shadow: 0 4px 4px -4px rgba(73, 115, 255, 0.5);
  }
}
@media (max-width: 767px) {
  .contact__selectBox {
    margin-top: 16px;
  }
}
.contact__selectBox::after {
  background: transparent;
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  transform: translate(0, -50%) rotate(45deg);
  right: 16px;
  top: 50%;
}

.contact__item__title {
  flex: 0 0 128px;
  position: relative;
  font-weight: bold;
}
.contact__item__title span {
  position: absolute;
  content: "";
  background: #FF4646;
  color: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: 12px;
}

/* 性別
--------------------------------------------------------*/
.contact__inputBox {
  flex: 0 1 100%;
  font-size: 16px;
}
@media (min-width: 1200px) {
  .contact__inputBox {
    margin-left: 60px;
  }
}
@media (max-width: 767px) {
  .contact__inputBox {
    margin-top: 18px;
  }
}

.contact__radio {
  display: inline-block;
  padding: 0;
  position: relative;
}
.contact__radio + .contact__radio {
  margin-left: 40px;
}

input[type=radio] {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact__radio__part {
  display: block;
}

.contact__radio__label {
  padding-left: 18px;
  position: relative;
}
.contact__radio__label::before {
  position: absolute;
  content: "";
  display: block;
  background: transparent;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
}
@media (min-width: 1200px) {
  .contact__radio__label:hover::before {
    border-color: #3B69FF;
    box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
  }
  .contact__radio__label:focus::before {
    box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
  }
  .contact__radio__label:active::before {
    background: rgba(73, 115, 255, 0.2);
    box-shadow: none;
  }
}
.contact__radio__label::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  background: #4973FF;
  top: 5px;
  left: 3px;
  width: 6px;
  height: 6px;
  opacity: 0;
  transition: 0.2s;
}

input[type=radio]:checked + .contact__radio__label::after {
  opacity: 1;
}

/* 個人情報保護方針
--------------------------------------------------------*/
.contact__privacy {
  margin-top: 34px;
  position: relative;
}
@media (max-width: 767px) {
  .contact__privacy {
    margin-top: 30px;
  }
}

input[type=checkbox] {
  opacity: 0;
  top: 0;
  left: 0;
}

.contact__privacy__label {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding-left: 18px;
}
@media (max-width: 767px) {
  .contact__privacy__label {
    padding-left: 14px;
    font-size: 16px;
  }
}
.contact__privacy__label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: solid 1px #3E3E3E;
  background: #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1200px) {
  .contact__privacy__label:hover::before, .contact__privacy__label:focus::before {
    border-color: #3B69FF;
    box-shadow: 0 0 6px rgba(73, 115, 255, 0.5);
  }
  .contact__privacy__label:active::before {
    background: rgba(73, 115, 255, 0.2);
    box-shadow: none;
  }
}
.contact__privacy__label::after {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 16px;
  left: 6px;
  top: 0;
  transform: rotate(45deg);
  background: transparent;
  border-bottom: solid 2px #4973FF;
  border-right: solid 2px #4973FF;
  opacity: 0;
  transition: 0.2s;
}

input[type=checkbox]:checked + .contact__privacy__label::after {
  opacity: 1;
}

.contact__button {
  margin-top: 38px;
  padding: 12px 50px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background: #FFAA3B;
  font-size: 18px;
}
@media (max-width: 767px) {
  .contact__button {
    display: block;
    margin: 32px auto 0;
  }
}
.contact__button:disabled {
  background: #B2B2B2;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.contact__message.-error {
  color: red;
}

/*======================================================
footer
=======================================================*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #3E3E3E;
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}
@media (max-width: 767px) {
  .footer__inner {
    display: block;
    padding: 0 40px;
  }
}

.footer__sns {
  display: flex;
}
@media (max-width: 767px) {
  .footer__sns {
    justify-content: center;
  }
}

.footer__sns__item + .footer__sns__item {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .footer__sns__item + .footer__sns__item {
    margin-left: 54px;
  }
}

.footer__sns__link {
  display: block;
  font-size: 36px;
  opacity: 0.6;
}

.footer__info {
  margin-top: 40px;
  letter-spacing: 0.025;
}

.footer__info__item + .footer__info__item {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .footer__info__item + .footer__info__item {
    margin-top: 26px;
  }
}
@media (max-width: 767px) {
  .footer__info__item {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    margin-top: 40px;
    text-align: center;
  }
}

.footer__logo__name {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .footer__logo__name {
    font-size: 32px;
  }
}

.footer__copyright {
  display: block;
  margin-top: 6px;
  text-align: right;
  opacity: 0.6;
  letter-spacing: -0.025em;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer__copyright {
    text-align: center;
  }
}

.to-top {
  display: block;
  width: 50px;
  height: 50px;
  border: solid 1px #3e3e3e;
  background: #F3F3F3;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 90;
}
@media (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 13px;
  }
}
.to-top::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 3px solid #3E3E3E;
  border-top: 3px solid #3E3E3E;
  position: absolute;
  top: 20px;
  left: 15px;
  transform: rotate(45deg);
}